.blue-link {
	color: #3949ab;
}

.blue-link:hover {
	color: #1a237e;
}

.red-link {
	color: #b71c1c;
}

.red-link:hover {
	color: #880e4f;
}

.link-scale {
	transition: all 0.3s ease-out;
}

.link-scale:hover {
	transform: scale(1.1);
}
